<!--div class="{{ baseClass }}">
  <div ng-repeat="i in images">
    <img ng-src="{{ i.thumb }}" class="{{ thumbClass }}" ng-click="openGallery($index)" alt="Image {{ $index + 1 }}" />
  </div>
</div-->
<div class="wall-img-preview lightbox clearfix" style="margin: inherit;">
  <div class="wip-item lightbox-item hovereffect" ng-repeat="file in images" flow-item="file" ng-click="openGallery($index)">
    <!--img flow-img="file"-->
    <div class="overlay">
      <h2>ver</h2>
      <p class="icon-links">
        <a href="" ng-click="file.cancel()">
          <span><i class="zmdi zmdi-delete zmdi-hc-fw"></i></span>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="ng-overlay" ng-show="opened">
</div>
<div class="ng-gallery-content" unselectable="on" ng-show="opened" ng-swipe-left="nextImage()" ng-swipe-right="prevImage()">
  <div class="uil-ring-css" ng-show="loading"><div></div></div>
  <a href="{{getImageDownloadSrc()}}" target="_blank" ng-show="showImageDownloadButton()" class="download-image"><i class="zmdi zmdi-download zmdi-hc-fw"></i></a>
  <a class="close-popup" ng-click="closeGallery()"><i class="zmdi zmdi-close-circle zmdi-hc-fw"></i></a>
  <a class="nav-left" ng-click="prevImage()"><i class="zmdi zmdi-caret-left-circle zmdi-hc-fw"></i></a>
  <img ondragstart="return false;" draggable="false" ng-src="{{ img }}" ng-click="nextImage()" ng-show="!loading" class="effect" />
  <a class="nav-right" ng-click="nextImage()"><i class="zmdi zmdi-caret-right-circle zmdi-hc-fw"></i></a>
  <span class="info-text">{{ index + 1 }}/{{ images.length }} - {{ description }}</span>
  <div class="ng-thumbnails-wrapper">
    <div class="ng-thumbnails slide-left">
      <div ng-repeat="i in images">
        <img ng-src="{{ i.thumb }}" ng-class="{'active': index === $index}" ng-click="changeImage($index)" />
      </div>
    </div>
  </div>
</div>
