<div class="login" data-lbg="purple">
  <!-- Forgot Password -->
  <div class="l-block toggled">
      <div class="lb-header palette-Purple bg">
          <i class="zmdi zmdi-account-circle"></i>
          Has olvidado tu contaseña?
      </div>

      <div class="lb-body">
          <p class="m-b-30">No te preocupes! Te enviaremos a tu correo un link de recuperción de contraseña ;)</p>

          <div class="form-group fg-float">
              <div class="fg-line">
                  <input type="text" class="input-sm form-control fg-input">
                  <label class="fg-label">Email</label>
              </div>
          </div>

          <button class="btn palette-Purple bg">Recuperar contraseña!</button>

          <div class="m-t-30">
              <a class="palette-Purple text d-block m-b-5" href="" ui-sref="login">Ya tengo una cuenta...</a>
              <a class="palette-Purple text" href="" ui-sref="signup">Suscribirme!</a>
          </div>
      </div>
  </div>
</div>
